<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telegram Reports</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <a href="/" id="reportsLink">Reports</a>
        <a href="/daily" id="dailyReportsLink">Daily Reports</a>
        <a href="#" id="todayReportLink">Get Today's Report</a>
      </div>
      {% block content %}{% endblock %}

      <div id="todayReportContent" style="display: none">
        <h2>Today's Report</h2>
        <button id="fetchTodayReport">Get Today's Report</button>
        <div id="todayReportSummary"></div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='base.js') }}"></script>
  </body>
</html>
