<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telegram Reports</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <a href="/" id="reportsLink" data-fi="Raportit" data-en="Reports"
          >Raportit</a
        >
        <a
          href="/daily"
          id="dailyReportsLink"
          data-fi="Päivittäiset raportit"
          data-en="Daily Reports"
          >Päivittäiset raportit</a
        >
        <button
          id="todayReportButton"
          data-fi="Hae tämän päivän raportti"
          data-en="Get Today's Report"
        >
          Hae tämän päivän raportti
        </button>
        <div class="dropdown">
          <button class="dropbtn" id="currentLang">🇫🇮</button>
          <div class="dropdown-content">
            <a href="#" id="fi-btn" data-fi="Suomi" data-en="Finnish"
              >🇫🇮 Suomi</a
            >
            <a href="#" id="en-btn" data-fi="Englanti" data-en="English"
              >🇬🇧 English</a
            >
          </div>
        </div>
      </div>
      <div id="todayReportContent" style="display: none">
        <h2 data-fi="Päivän raportti" data-en="Today's Report"></h2>
        <div id="todayReportSummary"></div>
      </div>
      {% block content %}{% endblock %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
      <script src="{{ url_for('static', filename='base.js') }}"></script>
    </div>
  </body>
</html>
